{% block includes %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
            <!---strat-slider---->
            <link rel="stylesheet" type="text/css" href="css/slider.css" />
            <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
            <script type="text/javascript" src="js/jquery.cslider.js"></script>
                <script type="text/javascript">
                    $(function() {

                        $('#da-slider').cslider({
                            autoplay	: true,
                            bgincrement	: 450
                        });

                    });
                </script>
            <!---//strat-slider---->
    <!-- start top_js_button -->
    <script type="text/javascript" src="js/move-top.js"></script>

    <script type="text/javascript" src="js/easing.js"></script>

   <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

{% endblock %}