<div class="header_bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <a href="index.html"><img src="/static/images/logo.png" alt=""/> </a>
                </div>
                <div class="social-icons">
                    <ul>
                      <li><a href="#" target="_blank"></a></li>
                      <li><a href="#" target="_blank"></a></li>
                      <li><a href="#" target="_blank"></a></li>
                      <li><a href="#" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>